/**
 *
 * @author Craig MacIntre
 * @email cmac2712@gmail.com
 *
 * CONTENTS
 * 
 * PREFACE
 * itcss..........................................Inverse Triangle CSS
 * BEM............................................Block Element Modifier naming convention
 *
 * SETTINGS
 * Typography.....................................Fonts and font stacks
 * Colors.........................................Set our brand color and UI colors
 * Spacing........................................Base spacing units for nice even spacing
 *
 * TOOLS
 * Mixins.........................................Usefull mixins
 * Bourbon........................................Library of Mixins and functions (bourbon.io)
 * Neat...........................................Grid system base on mixins for more semantic HTML (neat.bourbon.io)
 
 * GENERIC
 * Box Sizing.....................................Set box-sizing: border-box;
 * Breakpoints....................................Media Queries for different screen sizes (technically should be in settings but we need to include it after Neat)
 * Browse Happy...................................Styling for Browse Happy for unsupported browsers
 *
 * BASE
 * body...........................................Set up our root styles
 * h1-h6..........................................Headers
 * ul.............................................Lists
 * a..............................................Links
 *
 * OBJECTS
 * Wrap...........................................Keep our content contained to a max-width
 * Underline......................................Underlines for headers
 * Buttons........................................Material Design style buttons
 *
 * COMPONENTS
 * Header.........................................Header areaa
 * Navigation.....................................Nav menu
 * Notifications..................................Notification box
 * Profile........................................Profile picture
 * Animator Configurator..........................Settings menu for configuring header animation
 * Color Swatches.................................For color choices
 * About Section..................................Short Description about myself
 * Work Section...................................List of some of my projects
 * Skills and Tools Grid..........................Fluid grid setup for Skills and Tools section (identical layout)
 * Contact Section................................Contact information
 * Footer.........................................Footer area
 *
 * TRUMPS
 * Vertical Centering.............................Ghost element inline-block vertical-align: middle for aligning elements
 * Positioning....................................Absolute/relative positionsa
 * Floats.........................................Add/remove floats
 * Text Alignments................................Align text left/right/center
 * Font Weights...................................Change font weights
 * Margins/Padding................................Add/Remove margins and padding
 * .brandColor....................................Last class in the stylesheet so it can easily be found with javascript
 *
 *
 */
/*----------------------------------------------------------------

    ITCSS http://itcss.io/

------------------------------------------------------------------

Inverted Triangle CSS

================SETTINGS==============LOW SPECIFICITY
--==============TOOLS===============--
----============GENERIC===========----
-----===========BASE============------
--------========OBJECTS=======--------
----------======COMPONENTS==----------
------------====TRUMPS====------------HIGH SPECIFICITY

SETTINGS   - Variables 
TOOLS      - Mixins and functions
GENERIC    - Ground Zero styles i.e normalize.css, box-sizing
BASE       - Unclassed HTML elements i.e h1, h2, ul, a
OBJECTS    - OOCSS Design patterns
COMPONENTS - More explicit
TRUMPS     - Overides, helpers, utilities. Usually carry !important




--------------------------------------------------------------------

    BEM https://bem.info/method/

--------------------------------------------------------------------

Block Element Modifier

.block__element--modifier

Example:

  css:

    .list {
      margin: 0;
      padding:0;
    }

    .list__item {
      display: inline-block;
    }

    .list__item--active {
      color: #f00;
    }

  html:

    <ul class="list">
      <li class="list__item">Item 01</li>
      <li class="list__item">Item 02</li>
      <li class="list__item list__item--active">Item 03</li>
      <li class="list__item">Item 04</li>
    </ul>


--------------------------------------------------------------------
------------------------------------------------------------------*/
/*-----------------------------*
SETTINGS

\*-----------------------------*/
@import url(../bower_components/normalize.css/normalize.css);
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/Lato-Regular-webfont.eot");
  src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff2") format("woff2"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'noto';
  src: url("../fonts/NotoSerif-Regular-webfont.eot");
  src: url("../fonts/NotoSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSerif-Regular-webfont.woff2") format("woff2"), url("../fonts/NotoSerif-Regular-webfont.woff") format("woff"), url("../fonts/NotoSerif-Regular-webfont.ttf") format("truetype"), url("../fonts/NotoSerif-Regular-webfont.svg#noto_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?t9ribs");
  src: url("../fonts/icomoon.eot?#iefixt9ribs") format("embedded-opentype"), url("../fonts/icomoon.woff?t9ribs") format("woff"), url("../fonts/icomoon.ttf?t9ribs") format("truetype"), url("../fonts/icomoon.svg?t9ribs#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook-square:before {
  content: "\f082"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-github:before {
  content: "\f09b"; }

.icon-arrow-circle-left:before {
  content: "\f0a8"; }

.icon-arrow-circle-right:before {
  content: "\f0a9"; }

.icon-arrow-circle-up:before {
  content: "\f0aa"; }

.icon-arrow-circle-down:before {
  content: "\f0ab"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-reorder:before {
  content: "\e600"; }

.icon-computer:before {
  content: "\e601"; }

.icon-desktop-mac:before {
  content: "\e602"; }

.icon-desktop-windows:before {
  content: "\e603"; }

.icon-local-post-office:before {
  content: "\e609"; }

.icon-check:before {
  content: "\e604"; }

.icon-close:before {
  content: "\e605"; }

.icon-menu:before {
  content: "\e606"; }

.icon-check-box:before {
  content: "\e607"; }

.icon-check-box-outline-blank:before {
  content: "\e608"; }

.icon-clock:before {
  content: "\f046"; }

.icon-cog:before {
  content: "\e994"; }

.icon-facebook2:before {
  content: "\ea8d"; }

.icon-twitter4:before {
  content: "\ea91"; }

.icon-twitter2:before {
  content: "\ea92"; }

.icon-twitter3:before {
  content: "\ea93"; }

.icon-wordpress:before {
  content: "\eab6"; }

.icon-tux:before {
  content: "\eabe"; }

.icon-android:before {
  content: "\eac1"; }

.icon-windows8:before {
  content: "\eac3"; }

.icon-html5:before {
  content: "\eadf"; }

.icon-html52:before {
  content: "\eae0"; }

.icon-css3:before {
  content: "\eae1"; }

.icon-git:before {
  content: "\eae2"; }

.icon-chrome:before {
  content: "\eae5"; }

.icon-firefox:before {
  content: "\eae6"; }

.icon-IE:before {
  content: "\eae7"; }

.icon-opera:before {
  content: "\eae8"; }

/*-----------------------------*
TOOLS

\*-----------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*-----------------------------*
GENERIC

\*-----------------------------*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*-----------------------------*  
BASE

\*-----------------------------*/
body {
  font-family: "latoregular", helvetica, sans-serif;
  color: #666;
  background-color: #eee;
  font-size: 16px; }

body:after {
  content: "";
  background-color: #b52828; }

h1,
h2,
h3,
h4,
h5 {
  color: #444;
  font-family: "noto", serif; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
  list-style-position: outside; }

li {
  margin-bottom: 7.5px; }

a:link {
  color: #666;
  text-decoration: none;
  text-decoration: underline;
  -webkit-transition: color, 0.25s;
  transition: color, 0.25s; }

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: #666;
  -webkit-transition: color, 0.25s;
  transition: color, 0.25s; }

/*-----------------------------*
OBJECTS 

\*-----------------------------*/
.wrap {
  max-width: 1070px;
  padding: 15px;
  margin: 0 auto;
  overflow: visible; }

.underline {
  position: relative;
  margin-bottom: 45px; }

.underline:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #d66;
  bottom: -10px;
  left: 0;
  width: 45px; }

.button--material {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.button--material:focus {
  outline: 0; }

.button--material:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s; }

/*-----------------------------*
COMPONENTS 

\*-----------------------------*/
/**
* HEADER
*/
header {
  position: relative;
  height: 225px;
  background-color: #b52828;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

header h1 {
  position: relative;
  color: #eee;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  z-index: 5; }

header p {
  position: relative;
  z-index: 5;
  color: #eee; }

canvas {
  display: block;
  z-index: 4;
  margin: 0 auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

header .wrap {
  height: 100%; }

.header--title {
  position: absolute;
  bottom: 0;
  left: 15px;
  text-align: left; }

/**
* NAVIGATION
*/
.wrap--nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9; }

nav .nav__button {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  font-size: 25.6px;
  color: #fff;
  padding: 15px;
  z-index: 999; }

nav {
  position: absolute;
  top: 15px;
  right: 7.5px;
  display: inline-block;
  z-index: 999999;
  background-color: transparent;
  width: 150px;
  border-radius: 2px;
  overflow: hidden;
  max-height: 50px;
  transition: background-color 0.25s, ease; }

nav.open {
  max-height: 1000px;
  background-color: #d4d4d4;
  transition: background-color 0.25s, ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

nav.open .nav__button {
  color: #d66; }

nav.open .nav-list {
  left: 0;
  opacity: 1; }

.nav-list {
  position: relative;
  left: -300px;
  list-style-type: none;
  padding-top: 60px;
  text-align: right; }

nav ul.nav-list li a:hover {
  color: #eee;
  background-color: #d66; }

.nav-list li {
  width: 100%; }

.nav-list li a {
  display: inline-block;
  color: #797979;
  font-weight: bold;
  padding: 7.5px 15px 7.5px 15px;
  width: 100%; }

/**
* Notifications
*/
.notify {
  position: fixed;
  right: 7.5px;
  top: 7.5px;
  width: 375px;
  background-color: white;
  z-index: 99999;
  -moz-transform: translate3d(0, -500px, 0);
  -webkit-transform: translate3d(0, -500px, 0);
  transform: translate3d(0, -500px, 0);
  transition: transform 0.5s ease;
  transition: -moz-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  @media screen and (max-width: 400px) {
    .notify {
      width: 95%;
      right: 0;
      left: 0;
      margin: 0 auto; } }

.notify.active {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease;
  transition: -moz-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease; }

.notify__img {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 7.5px;
  background-image: url(../images/warn.png);
  background-size: cover; }

.notify__img img {
  width: 100%; }

.notify__title,
.notify__description {
  font-size: 1em;
  margin: 7.5px 0;
  padding-left: 7.5px; }

/**
* PROFILE
*/
.profile {
  position: absolute;
  bottom: -37.5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../images/me.jpg);
  background-size: cover;
  z-index: 9;
  border: 5px solid #d4d4d4; }

/**
 * ANIMATION CONFIGURATOR
 */
.anim-config {
  display: inline-block;
  margin: 15px auto;
  z-index: 9999;
  border-radius: 2px;
  background-color: #d4d4d4;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: opacity 0.25s ease; }

.anim-config input {
  width: 100px; }

.anim-config label {
  margin-right: 7.5px; }

.anim-config.open {
  opacity: 1;
  transition: opacity 0.25s ease;
  right: 7.5px; }

.anim-config input {
  margin: 7.5px 0; }

.anim-config button {
  width: 100%;
  border: 0;
  padding: 7.5px;
  background-color: #d66;
  color: white; }

.anim-config__button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9999;
  color: #eee;
  padding: 0 15px 7.5px 0;
  display: inline-block;
  margin-top: 75px;
  display: none; }
  .anim-config__button:visited,
  .anim-config__button:active,
  .anim-config__button:hover,
  .anim-config__button:link,
  .anim-config__button:focus {
    color: #eee; }

.anim-config__button.enabled {
  display: block; }

.github-link {
  display: block;
  color: #666;
  text-decoration: underline; }
  .github-link:visited,
  .github-link:active,
  .github-link:focus,
  .github-link:active,
  .github-link:link {
    color: #666;
    text-decoration: underline; }

/**
 * Color Swatches
 */
.swatches {
  margin: 0;
  padding: 0;
  list-style-type: none; }

input[type="radio"] {
  display: none; }

.swatches {
  width: 120px; }

.swatch {
  display: inline-block;
  border: 1px solid #999;
  height: 25px;
  width: 26px;
  border-radius: 0; }

.swatch:nth-child(3n) {
  margin-right: 0; }

input[type="radio"]:checked + label {
  border: 1px solid #fff; }

.red {
  background-color: #e66; }

.orange {
  background-color: #DA881C; }

.blue {
  background-color: #66e; }

.green {
  background-color: #ff9; }

.purple {
  background-color: #f99; }

.violet {
  background-color: #551a8b; }

.pink {
  background-color: #E022D1; }

.yellow {
  background-color: #E0DD22; }

/**
* ABOUT SECTION
*/
.about {
  padding-top: 75px; }

.about p {
  max-width: 768px; }

/**
* WORK SECTION
*/
.work__block {
  position: relative;
  background-color: white;
  border-radius: 2px;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.work__block a {
  color: #444; }
  .work__block a:hover,
  .work__block a:visited,
  .work__block a:focus,
  .work__block a:active {
    color: #444;
    text-decoration: underline; }

.work {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .work::after {
    clear: both;
    content: "";
    display: table; }

.work-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .work-wrap:last-child {
    margin-right: 0; }
  @media screen and (max-width: 400px) {
    .work-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .work-wrap:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) and (min-width: 400px) {
    .work-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .work-wrap:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 1040px) and (min-width: 768px) {
    .work-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .work-wrap:nth-child(2n) {
        margin-right: 0; }
      .work-wrap:nth-child(2n+1) {
        clear: left; }
      .work-wrap:last-child {
        margin-right: 0; }
      .work-wrap:nth-child(3) {
        margin-left: 25.58941%; } }

.work__image {
  background-size: cover;
  height: 105px;
  border-radius: 2px;
  overflow: auto;
  box-shadow: inset 0 -75px 48px -24px rgba(0, 0, 0, 0.4); }

.work__block h3 {
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  margin-top: 0; }

.work__block:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 105px;
  height: 3px;
  width: 100%;
  background-color: #d66; }

.work__desc {
  padding: 15px;
  min-height: 210px; }

.work__desc p {
  margin: 0; }

.gdc .work__image {
  background-image: url(../images/gdc.jpg); }

.indez .work__image {
  background-image: url(../images/indez.jpg); }

.scc .work__image {
  background-image: url(../images/scc.jpg); }

/**
* SKILLS AND TOOLS GRID
*/
.skills,
.tools {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .skills::after,
  .tools::after {
    clear: both;
    content: "";
    display: table; }

.skill-wrap,
.tool-wrap {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .skill-wrap:last-child,
  .tool-wrap:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) and (min-width: 400px) {
    .skill-wrap,
    .tool-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .skill-wrap:nth-child(3n),
      .tool-wrap:nth-child(3n) {
        margin-right: 0; }
      .skill-wrap:nth-child(3n+1),
      .tool-wrap:nth-child(3n+1) {
        clear: left; }
      .skill-wrap:last-child,
      .tool-wrap:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 400px) {
    .skill-wrap,
    .tool-wrap {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .skill-wrap:nth-child(2n),
      .tool-wrap:nth-child(2n) {
        margin-right: 0; }
      .skill-wrap:nth-child(2n+1),
      .tool-wrap:nth-child(2n+1) {
        clear: left; }
      .skill-wrap:last-child,
      .tool-wrap:last-child {
        margin-right: 0; } }

/**
* SKILLS AND TOOLS SECTIONS
*/
.skill__image,
.tool__image {
  width: 75px;
  margin: 30px auto; }

.skill__image img,
.tool__image img {
  width: 100%;
  -webkit-filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.2)); }

.skill__desc,
.tool__desc {
  text-align: center; }

/**
* CONTACT SECTION
*/
.contact span {
  vertical-align: middle;
  font-size: 32px;
  line-height: 24px;
  margin-right: 15px; }

.contact span:before {
  color: #777; }

.contact ul {
  list-style-type: none; }

.contact li {
  margin-bottom: 15px; }

.contact a {
  color: #666;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 3px; }

.contact .icon-github {
  margin-left: 3px;
  margin-right: 12px; }

/**
* FOOTER
*/
footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin-top: 45px;
  background-color: #d4d4d4; }

/*-----------------------------*
TRUMPS

\*-----------------------------*/
/**
* Vertical Centering
*/
.va-parent:before, .work__image:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.va-child {
  display: inline-block;
  vertical-align: middle; }

.posab {
  position: absolute; }

.posrel {
  position: relative; }

.top {
  z-index: 999; }

/**
* Helpers 
*/
/**
 * Add/remove floats
 */
.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.float--none {
  float: none !important; }

/**
 * Text alignment
 */
.text--left {
  text-align: left  !important; }

.text--center {
  text-align: center !important; }

.text--right {
  text-align: right !important; }

/**
 * Font weights
 */
.weight--light {
  font-weight: 300 !important; }

.weight--normal {
  font-weight: 400 !important; }

.weight--semibold {
  font-weight: 600 !important; }

/**
* Margins/Padding
*/
/**
 * Add/remove margins
 */
.push {
  margin: 15px !important; }

.push--top {
  margin-top: 15px !important; }

.push--right {
  margin-right: 15px !important; }

.push--bottom {
  margin-bottom: 15px !important; }

.push--left {
  margin-left: 15px !important; }

.push--ends {
  margin-top: 15px !important;
  margin-bottom: 15px !important; }

.push--sides {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.push-half {
  margin: 7.5px !important; }

.push-half--top {
  margin-top: 7.5px !important; }

.push-half--right {
  margin-right: 7.5px !important; }

.push-half--bottom {
  margin-bottom: 7.5px !important; }

.push-half--left {
  margin-left: 7.5px !important; }

.push-half--ends {
  margin-top: 7.5px !important;
  margin-bottom: 7.5px !important; }

.push-half--sides {
  margin-right: 7.5px !important;
  margin-left: 7.5px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/**
 * Add/remove paddings
 */
.soft {
  padding: 15px !important; }

.soft--top {
  padding-top: 15px !important; }

.soft--right {
  padding-right: 15px !important; }

.soft--bottom {
  padding-bottom: 15px !important; }

.soft--left {
  padding-left: 15px !important; }

.soft--ends {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.soft--sides {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.soft-half {
  padding: 7.5px !important; }

.soft-half--top {
  padding-top: 7.5px !important; }

.soft-half--right {
  padding-right: 7.5px !important; }

.soft-half--bottom {
  padding-bottom: 7.5px !important; }

.soft-half--left {
  padding-left: 7.5px !important; }

.soft-half--ends {
  padding-top: 7.5px !important;
  padding-bottom: 7.5px !important; }

.soft-half--sides {
  padding-right: 7.5px !important;
  padding-left: 7.5px !important; }

.hard {
  padding: 0 !important; }

.hard--top {
  padding-top: 0 !important; }

.hard--right {
  padding-right: 0 !important; }

.hard--bottom {
  padding-bottom: 0 !important; }

.hard--left {
  padding-left: 0 !important; }

.hard--ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.hard--sides {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.brandColor {
  background-color: #d66; }
