$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "./animations";

/* Variables */

$spacing-unit: 16px;
$spacing-unit--half: $spacing-unit/2;

$ui-color: #ddd;
$ui-color--tint: lighten($ui-color, 5%);

/* Mixins */

@mixin shadow () {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
}

a {
    color: #fff;
    
    &:hover,
    &:visited,
    &:focus,
    &:active {
	color: #fff;
	text-decoration: none;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}


.notification {
    position: fixed;
    right: $spacing-unit--half;
    top: $spacing-unit--half;
    width: $spacing-unit*25;
    background-color: $ui-color--tint;
    z-index: 99999;
    -webkit-transform: translate3d(0,-150%,0);
	    transform: translate3d(0,-150%,0);
    @include shadow();
}

.notification-2 {
    left: $spacing-unit--half;
    right: auto;
}

.notification-3 {
    -webkit-transform: translate3d(0,150%,0);
            transform: translate3d(0,150%,0);
    top: auto;
    bottom: $spacing-unit--half;
    left: $spacing-unit--half;
    right: auto;
}

.slideDown {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
    transition: transform 3s ease-in;
    transition: -webkit-transform 3s ease-in;
    transition: opacity, .25s;
}

.slideUp {
    opacity: 0;
    -webkit-transform: translate3d(0,-150%,0);
	    transform: translate3d(0,-150%,0);
    transition: transform 3s ease-in;
    transition: -webkit-transform 3s ease-in;
    transition: opacity, .25s;
}

.notification__img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: $spacing-unit--half;  
    background-size: cover;
}

.notification__img img {
    width: 100%;
}

.notification__title,
.notification__description {
    font-size: 1em;
    margin: $spacing-unit--half 0;
    padding-left: $spacing-unit--half;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
